{{template "base-layout" .}}
{{define "title"}} Reservation {{end}}
{{define "content"}}

    <br><br><br><br><br>

    <h1>Reservation Page</h1>


    <form method="POST" action="/api/reservation/tables">
        {{with .ReservationData}}
            <div>
                <input type="hidden" name="cafe_id" value="{{.CafeID}}">
            </div>
            <div>
                <label>Date</label>
                <input type="date" name="date" min="{{.CurrentDate}}" max="{{.MaxBookingDate}}">
            </div>
            <div>
                <label>Time</label>
                <select name="bookTime">
                    {{range .TimeSelector}}
                        <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select>
            </div>
            <div>
                <label>Location</label>
                <select name="location_id">
                    {{range .LocationSelector}}
                        <option value="{{.ID}}">{{.Name}}</option>
                    {{end}}
                </select>
            </div>
            <div>
                <label>Party Size</label>
                <select name="party_size">
                    {{range .PartySizeSelector}}
                        <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select>
            </div>
            <input type="submit" value="Show Tables">
        {{end}}
    </form>


    <h1>Here will be tables:</h1>
    <form method="POST" action="#">
        {{with .ReservationData}}
            {{range .Tables}}
                <div>
                    <label>Table_ID #{{.ID}} Location_ID #{{.LocationID}} Capacity {{.Capacity}}</label>
                    <input type="radio" name="table_id" value="{{.ID}}">
{{/*                    {{range := .Capacity}}*/}}
{{/*                        <span>Some image of chair {{$i}}: {{$sequence}}</span>*/}}
{{/*                    {{end}}*/}}
                </div>
            {{end}}
            <input type="submit" value="Choose Table">
        {{end}}
    </form>
    <br><br>
{{end}}
