{{template "base-layout" .}}
{{define "title"}} Reservation {{end}}
{{define "content"}}

    <br><br><br><br><br>

    <h1>Reservation Page</h1>

    <form method="POST" action="/api/reservation/tables">
    {{with .ReservationData}}
        <div>
            <input type="hidden" name="cafe_id" value="{{.CafeID}}">
        </div>
        <div>
            <label>Date</label>
            <input type="date" name="date" value="{{.CurrentDate}}" min="{{.CurrentDate}}" max="{{.MaxBookingDate}}">
        </div>
        <div>
            <label>Time</label>
            <select name="bookTime">
                {{range .TimeSelector}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
        </div>
        <div>
            <label>Location</label>
            <select name="location_id">
                {{range .LocationSelector}}
                    <option value="{{.ID}}">{{.Name}}</option>
                {{end}}
            </select>
        </div>
        <div>
            <label>Party Size</label>
            <select name="party_size">
                {{range .PartySizeSelector}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
        </div>
        <input type="submit" value="Show Tables">
        </form>

        <h1> {{len .Tables}} Available tables:</h1>
        <form method="POST" action="/api/reservation/confirm">
        {{if .Tables}}
            {{range .Tables}}
                <div>
                    <label>Table_ID #{{.ID}} Location_ID #{{.LocationID}} Capacity {{.Capacity}}</label>
                    <input type="radio" name="table_id" value="{{.ID}}">
                    {{range .CapacityForHTML}}
                        <img src="/static/img/circle-as-table.png" alt="some image of chair" height="50px"
                             width="50px">
                    {{end}}
                </div>
            {{end}}
            <div>
                <label>Add event (optional)</label>
                <select name="event_id">
                    {{range .EventSelector}}
                        <option value="{{.ID}}">{{.Name}}</option>
                    {{end}}
                </select>
            </div>
            <div>
                <label>Description: </label>
                <textarea name="event_description" cols="30" rows="10"></textarea>
            </div>
            <input type="submit" value="Book Table">
            </form>
            <br><br>
        {{end}}
    {{end}}
{{end}}
