{{template "base-layout" .}}
{{define "title"}} Collaborate {{end}}
{{define "content"}}
    {{with .Flash}}
        <div class='flash'>{{.}}</div>
    {{end}}

    <h1 style="text-align: center">Admin Panel</h1>
    <div style="margin-top: 50px; text-align: center; justify-content: center">
        <a href="/api/admin/collabs">
            <button class="btn btn-warning">Collaboration Requests ({{len .Cafes}})</button>
        </a>
    </div>
    <div style="margin-bottom: 350px"></div>

{{end}}