{{template "base-layout" .}}
{{define "title"}} Login {{end}}
{{define "content"}}
    {{with .Flash}}
        <div class='flash '>{{.}}</div>
    {{end}}

    <br><br><br>

    <section class="signup-page">
        <form action="/api/users/login" method="POST">
            <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
            {{with .Form}}
                <div class="cont">
                    {{with .Errors.Get "generic"}}
                        <div class='error'>{{.}}</div>
                    {{end}}
                    <div class="form sign-in">
                        <h2>Welcome back</h2>
                        <label>
                            <span>Email</span>
                            <input type='email' name='email' value='{{.Get "email"}}'>
                        </label>
                        <label>
                            <span>Password</span>
                            <input type='password' name='password'>
                        </label>
                        <button type="submit" class="submit">Sign In</button>
                    </div>
                    <div class="sub-cont">
                        <div class="img">
                            <div class="img__text m--up">
                                <h2>New here?</h2>
                                <p>Sign up and discover great amount of new opportunities!</p>
                            </div>
                            <a href="/api/users/sign-up">
                                <div class="img__btn">
                                    <span class="m--up">Sign Up</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {{end}}
        </form>
    </section>
{{end}}
