{{define "navbar"}}
<body>
<!--========== SCROLL TOP ==========-->
<a href="#" class="scrolltop" id="scroll-top">
    <i class='bx bx-chevron-up scrolltop__icon'></i>
</a>

<!--Navbar-->
<header class="bg-white">
    <div class="container mx-auto">
        <div class="py-10 px-16 flex justify-between items-center h-12">
            <div class="logo sunflower text-2xl font-medium common-gradient">
                <a href="/" class="block">Check, Please</a>
            </div>
            <div class="navigation montsA flex space-x-5 text-lg items-center">
                <div><a href="#home" class="nav__link">Home</a></div>
                <div><a href="/api/cafe/all" class="nav__link">Our Partners</a></div>
                <div><a href="#about" class="nav__link">About Us</a></div>
                <div><a href="/api/cafe/collaborate" class="nav__link">Join Us</a></div>
                <div><a href="#footer" class="nav__link">Contact us</a></div>
                {{if .IsAuthenticated}}
                    <div><a href="/api/users/profile/{{.User.ID}}" class="nav__link">Profile</a></div>
                    <form action='/api/users/logout' method='POST'>
                        <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
                        <button class="btn btn-light">Logout</button>
                    </form>

                    {{if eq .User.Role.ID 1}}  {{/* admin */}}
                    <div><a href="/api/admin/" class="nav__link">Admin Panel</a></div>
                    {{end}}
                    {{if eq .User.Role.ID 3}}  {{/* partner */}}
                    <div><a href="/api/partner/" class="nav__link">Admin Panel</a></div>
                    {{end}}
                {{else}}
                    <div>
                        <a
                                class="p-2.5 rounded text-white nav__link"
                                style="background-color: #36a448"
                                href="/api/users/login"
                        >Sign In</a
                        >
                    </div>
                    <div>
                        <a
                                class="p-2.5 rounded text-white nav__link"
                                style="background-color: #36a448"
                                href='/api/users/sign-up'
                        >Sign Up</a
                        >
                    </div>
                {{end}}
            </div>
        </div>
    </div>
</header>
{{end}}
