{{template "base-layout" .}}
{{define "title"}} Collaborate {{end}}
{{define "content"}}
    {{with .Flash}}
        <div class='flash'>{{.}}</div>
    {{end}}

    <h1 style="text-align: center">Admin Panel</h1>
    <a href="/api/partner/busy/user/{{.User.ID}}">
        <button class="btn btn-info">Manually Busy Tables
        </button>
    </a><br>
    <a href="/api/partner/free/user/{{.User.ID}}">
        <button class="btn btn-success">Manually Free Tables
        </button>
    </a><br>
    <a href="/api/partner/reportPage/{{.User.ID}}">
        <button class="btn btn-light">All users (TODO: here we should report users)
        </button>
    </a> <br>

{{end}}