{{template "base-layout" .}}
{{define "title"}} Check, Please {{end}}
{{define "content"}}
    {{with .Flash}}
        <div class='flash'>{{.}}</div>
    {{end}}
    <style>
        .gradient_line {
            width: 12rem;
            background: -webkit-linear-gradient(45deg, #39c223, #0038ff);
            height: 5px;
        }

        .custom_select {
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: "";
            border: .5px solid #39c223;
            width: 100%;
        }

        .search-field__background {
            background-image: url(../../static/img/green_wood_texture.jpg);
            background-position: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            height: 5rem;
            opacity: 1;
        }

        .book_button {
            color: #36a448;
            outline: none;
            border-color: #36a448;
            text-decoration: none;
        }

        .book_button:hover {
            background-color: #36a448;
            border-color: white;
            color: white;
        }
    </style>
    <div
            class="
        flex flex-col
        space-y-3
        justify-center
        items-center
        bg-contain bg-no-repeat
        search-field__background
      "
    >
        <form action="/api/cafe/search" method="POST">
            <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
            {{with .Form}}
                <!--Search field-->
                <div class="search-field flex space-x-5">
                    <!--Search-->
                    <div class="relative w-96">
                        <div
                                class="
                                      absolute
                                      top-0
                                      left-0
                                      h-full
                                      w-8
                                      flex
                                      justify-center
                                      items-center
                                    "
                        >
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-4 w-4"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                            >
                                <path
                                        fill-rule="evenodd"
                                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                        clip-rule="evenodd"
                                />
                            </svg>
                        </div>
                        <input
                                type="text"
                                class="
              h-8
              w-full
              py-2
              font-medium
              text-xs
              pr-9
              pl-8
              rounded-sm
              placeholder-gray-400
              focus:outline-none
            "
                                placeholder="Restaurant, Features, or other"
                                id="search" name="search" value="{{.Get "search"}}"
                        />
                    </div>
                    {{with .Errors.Get "search"}}
                        <label class="error">{{.}}</label>
                    {{end}}
                    <div
                            class="max-h-8 rounded-sm text-sm flex justify-center items-center"
                            style="background-color: #36a448"
                    >
                        <button type="submit"><a class="monts font-medium px-1.5 text-white">Find Place</a></button>
                    </div>
                </div>
            {{end}}
        </form>
    </div>
    <div class="flex flex-col p-6">
        <div class="flex px-24 space-x-24">
            <!--Sidebar/Filters-->
            <div class="flex flex-col pt-8 justify-start">
                <div>
                    <div>Options</div>
                    <form action="/api/cafe/filter" method="POST">
                        <div class="flex flex-col my-4">
                            <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
                            <div class="flex items-center space-x-2">
                                <label>Type</label>
                                <select class="custom_select" name="type">
                                    {{range .Types}}
                                        <option value="{{.ID}}">{{.Name}}</option>
                                    {{end}}
                                </select>
                            </div>
                            <div class="flex items-center space-x-2">
                                <label>City</label>
                                <select class="custom_select" name="city">
                                    {{range .Cities}}
                                        <option value="{{.ID}}">{{.Name}}</option>
                                    {{end}}
                                </select>
                            </div>
                        </div>
                        <div
                                class="max-h-8 mb-3 rounded-sm text-sm flex justify-center items-center"
                                style="background-color: #36a448"
                        >
                            <button class="monts font-medium px-1.5 py-2 text-white" type="submit">
                                Filter
                            </button>
                        </div>
                    </form>
                    <div class="gradient_line"></div>
                </div>
            </div>

            <!--List with Sort Header-->
            <div class="flex flex-col font-medium monts w-full">
                <div class="flex justify-between items-center">
                    <p class="text-sm text-gray-500">{{len .Cafes}} restaurants availbale</p>
                    <div class="border border-gray-500 w-52 font-extrabold">
                        <select class="text-black pl-4 py-1 w-full">
                            <option disabled selected>Sort By</option>
                            <option value="">Rating ↑</option>
                            <option value="">Rating ↓</option>
                        </select>
                    </div>
                </div>
                <hr/>
                <div class="flex flex-col monts p-4 space-y-6">
                    {{range .Cafes}}
                        <div class="flex p-6 space-x-4">
                            <div class="flex justify-center align-center w-1/5 h-auto">
                                <img src="{{.ImageURL}}"/>
                            </div>
                            <div class="flex flex-col justify-left space-y-2">
                                <div style="color: #36a448" class="font-semibold text-lg">{{.Name}}
                                    | {{.Type.Name}}</div>
                                <div class="text-sm">Address: {{.Address}}</div>
                                <div class="text-sm">Mobile: {{.Mobile}}</div>
                                <a class="book_button w-40 py-1.5 text-center border-2 text-xs rounded-sm"
                                   href="/api/reservation/cafe/{{.ID}}">
                                    Book table
                                </a>
                                <div class="text-sm w-full flex flex-wrap">{{printf "%.80s" .Description}}...</div>
                            </div>
                        </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>


{{end}}